#app {
  
}

#guess-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#prev-guesses-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#game-status-container {
  display: flex;
  justify-content: center;
}

.submit-btn {
  margin: 10px;
  padding: 0 auto;
  border-radius: 10%;
  border: none;
  background-color: #e9e9e9;
  width: 70px;
  height: 40px;
  font-weight: bold;
  font-size: 18px;
}

.submit-btn:hover {
  opacity: 75%;
  cursor: pointer;
}